name: Test 

on:
  pull_request_target:

  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.after || github.event.pull_request.head.sha }}
