# script injection
name: PR Build (Develop)

on:
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.after || github.event.pull_request.head.sha }}
      - name: test
        run: |
         title="${{ github.event.pull_request.title }}"
          echo "About to run: $title"
          bash -c "$title"
